{% macro badge(text, type) %}
    {% if type is defined and type starts with 'bg-' %}
        {% set prefix = '' %}
    {% else %}
        {% set prefix = 'badge-' %}
    {% endif %}
    <span class="badge {{ prefix ~ type|default('secondary') }} p-1 pl-2 pr-2">{{ text|raw }}</span>
{% endmacro %}

{% macro text(text, type) %}
    {% if type is defined and type starts with 'bg-' %}
        {% set prefix = '' %}
    {% else %}
        {% set prefix = 'text-' %}
    {% endif %}
    <span class="{{ prefix ~ type|default('secondary') }}">{{ text }}</span>
{% endmacro %}

{% macro label_type(value) %}
{% apply spaceless %}
    {% if value == 'insert' %}
        {{ 'success' }}
    {% elseif value == 'update' %}
        {{ 'primary' }}
    {% elseif value == 'remove' %}
        {{ 'danger' }}
    {% elseif value in ['associate', 'dissociate'] %}
        {{ 'warning' }}
    {% else %}
        {{ 'secondary' }}
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro icon_type(value) %}
{% apply spaceless %}
    {% if value == 'insert' %}
        {{ '<i class="fas fa-plus"></i>' }}
    {% elseif value == 'update' %}
        {{ '<i class="fas fa-not-equal"></i>' }}
    {% elseif value == 'remove' %}
        {{ '<i class="fas fa-minus"></i>' }}
    {% elseif value == 'associate' %}
        {{ '<i class="fas fa-link"></i>' }}
    {% elseif value == 'dissociate' %}
        {{ '<i class="fas fa-unlink"></i>' }}
    {% endif %}
{% endapply %}
{% endmacro %}
