{% extends "@DHDoctrineAudit/layout.html.twig" %}

{% import '@DHDoctrineAudit/Audit/bootstrap.html.twig' as bootstrap %}
{% import '@DHDoctrineAudit/Audit/helper.html.twig' as helper %}

{% block dh_doctrine_audit_content %}
<div class="card border-0">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('dh_doctrine_audit_list_audits') }}">Home</a></li>
                <li class="breadcrumb-item {% if id is null %}active{% endif %}" aria-current="page"><a href="{{ path('dh_doctrine_audit_show_entity_history', { 'entity': helper.namespaceToParam(entity) }) }}">{{ entity }}</a></li>
                {% if id is not null %}
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('dh_doctrine_audit_show_entity_history', { 'entity': helper.namespaceToParam(entity), 'id': id }) }}">{{ entity }}#{{ id }}</a></li>
                {% endif %}
            </ol>
        </nav>

        <h4 class="card-title float-left"><code>{{ entity }}{% if id is not null %}#{{ id }}{% endif %}</code> <em>(most recent first)</em></h4>
        <h5 class="float-right">{{ bootstrap.badge(entries|length ~ ' operations', 'primary') }}</h5>

        <div class="timeline-centered">
        {% for entry in entries %}
            {{ include('@DHDoctrineAudit/Audit/entry.html.twig', {'entry': entry}) }}
        {% endfor %}
        </div>

        {% if entries.haveToPaginate() %}
        <div class="pagerfanta float-right">
            {{ pagerfanta(entries, 'twitter_bootstrap4') }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock dh_doctrine_audit_content %}
