{% extends "@DHDoctrineAudit/layout.html.twig" %}

{% import '@DHDoctrineAudit/Audit/helpers/bootstrap.html.twig' as bootstrap %}
{% import '@DHDoctrineAudit/Audit/helpers/helper.html.twig' as helper %}
{% import '@DHDoctrineAudit/Audit/helpers/pager.html.twig' as pager %}

{% block dh_doctrine_audit_content %}
<div class="card border-0">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('dh_doctrine_audit_list_audits') }}">Home</a></li>
                <li class="breadcrumb-item {% if id is null %}active{% endif %}" aria-current="page"><a href="{{ path('dh_doctrine_audit_show_entity_history', { 'entity': helper.namespaceToParam(entity) }) }}">{{ entity }}</a></li>
                {% if id is not null %}
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('dh_doctrine_audit_show_entity_history', { 'entity': helper.namespaceToParam(entity), 'id': id }) }}">{{ entity }}#{{ id }}</a></li>
                {% endif %}
            </ol>
        </nav>

        <h4 class="card-title float-left"><code>{{ entity }}{% if id is not null %}#{{ id }}{% endif %}</code> <em>(most recent first)</em></h4>
        <h5 class="float-right">{{ bootstrap.badge(paginator.results|length ~ ' operations', 'primary') }}</h5>

        <div class="timeline-centered">
        {% for entry in paginator.results %}
            {{ include('@DHDoctrineAudit/Audit/entry.html.twig', {'entry': entry}) }}
        {% endfor %}
        </div>

        {{ pager.render(entity, paginator) }}
    </div>
</div>
{% endblock dh_doctrine_audit_content %}
