{% extends "DHDoctrineAuditBundle::layout.html.twig" %}

{% macro dump(value, separator) %}
    {% if value is iterable %}
        {% for k, v in value %}
            {{ k }}: {{ audit_viewer.printvalue(v) }}{{ separator|default('<br/>')|raw }}
        {% endfor %}
    {% else %}
        {{ audit_viewer.printvalue(value) }}
    {% endif %}
{% endmacro dump %}

{% macro printvalue(value) %}
    {% if value is same as (true) %}
    <em>true</em>
    {% elseif value is same as (false) %}
    <em>false</em>
    {% else %}
    {{ value }}
    {% endif %}
{% endmacro printvalue %}

{% import _self as audit_viewer %}

{% block dh_doctrine_audit_content %}
{% set diffs = entry.getDiffs() %}
    <h1>Entity #{{ entry.getObjectId() }} changes ({{ entry.getType() }})</h1>

{% if entry.getType() in ['associate', 'dissociate'] %}
    <table>
        <thead>
            <th>Properties</th>
            <th>Target</th>
        </thead>
        <tbody>
        {% for key, value in diffs['target'] %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ audit_viewer.printvalue(value) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% elseif entry.getType() == 'remove' %}
    <table>
        <thead>
            <th>Properties</th>
            <th>Target</th>
        </thead>
        <tbody>
        {% for key, value in diffs %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ audit_viewer.printvalue(value) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <table>
        <thead>
            <th>Properties</th>
            <th>Old value</th>
            <th>New value</th>
        </thead>
        <tbody>
            {% for key, values in diffs %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ audit_viewer.dump(values['old']) }}</td>
                <td>{{ audit_viewer.dump(values['new']) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock dh_doctrine_audit_content %}