{% extends "@DHDoctrineAudit/layout.html.twig" %}

{% import '@DHDoctrineAudit/Audit/bootstrap.html.twig' as bootstrap %}
{% import '@DHDoctrineAudit/Audit/helper.html.twig' as helper %}

{% block dh_doctrine_audit_content %}
<div class="card border-0">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('dh_doctrine_audit_list_audits') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('dh_doctrine_audit_show_entity_history', {'entity': entity}) }}">{{ entity }}</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('dh_doctrine_audit_show_audit_entry', {'entity': entity, 'id': entry.getObjectId()}) }}">{{ entity }}#{{ entry.getObjectId() }}</a></li>
            </ol>
        </nav>

        {% set diffs = entry.getDiffs() %}
        <h4 class="card-title float-left"><code>{{ entity }}#{{ entry.getObjectId() }}</code></h4>
        <h5 class="float-right">{{ bootstrap.badge(entry.type, bootstrap.label_type(entry.type)) }}</h5>
        <h6 style="clear: both">{{ helper.humanize(entity, entry) }}</h6>

    {% if entry.type in ['associate', 'dissociate'] %}
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <th>Property</th>
                <th>Target</th>
            </thead>
            <tbody>
            {% for key, value in diffs.target %}
                <tr>
                    <td><code>{{ key }}</code></td>
                    <td>{{ bootstrap.text(helper.dump(value), 'secondary') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif entry.type == 'remove' %}
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <th>Property</th>
                <th>Target</th>
            </thead>
            <tbody>
            {% for key, value in diffs %}
                <tr>
                    <td><code>{{ key }}</code></td>
                    <td>{{ bootstrap.text(helper.dump(value), 'secondary') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="table table-hover table-sm">
            <thead class="thead-light">
                <th>Property</th>
                <th>Old value</th>
                <th>New value</th>
            </thead>
            <tbody>
            {% for key, values in diffs %}
                <tr>
                    <td><code>{{ key }}</code></td>
                    <td>
                        {% if values.old is defined %}
                            {% if values.old is empty %}
                                {{ bootstrap.badge('null', 'secondary') }}
                            {% else %}
                                {{ bootstrap.text(helper.dump(values.old), 'danger') }}
                            {% endif %}
{#                        {% else %}#}
{#                            {% if values['-'] is empty %}#}
{#                                {{ bootstrap.badge('null', 'secondary') }}#}
{#                            {% else %}#}
{#                                {{ bootstrap.text(helper.dump(values['-']), 'danger') }}#}
{#                            {% endif %}#}
                        {% endif %}
                    </td>
                    <td>
                        {% if values.new is defined %}
                            {% if values.new is empty %}
                                {{ bootstrap.badge('null', 'secondary') }}
                            {% else %}
                                {% if values.old is empty %}
                                    {{ bootstrap.text(helper.dump(values.new), 'primary') }}
                                {% else %}
                                    {{ bootstrap.text(helper.dump(values.new), 'success') }}
                                {% endif %}
                            {% endif %}
{#                        {% else %}#}
{#                            {% if values['+'] is empty %}#}
{#                                {{ bootstrap.badge('null', 'secondary') }}#}
{#                            {% else %}#}
{#                                {% if values['-'] is empty %}#}
{#                                    {{ bootstrap.text(helper.dump(values['+']), 'primary') }}#}
{#                                {% else %}#}
{#                                    {{ bootstrap.text(helper.dump(values['+']), 'success') }}#}
{#                                {% endif %}#}
{#                            {% endif %}#}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
</div>
{% endblock dh_doctrine_audit_content %}
