{% extends "@DHDoctrineAudit/layout.html.twig" %}

{% block dh_doctrine_audit_content %}
    <h1>{{ entity }} history ({{ entries|length }} operations)</h1>

    <table>
        <thead>
            <th>Id</th>
            <th>Type</th>
            <th>Object Id</th>
            <th>User Id</th>
            <th>Username</th>
            <th>Firewall</th>
            <th>Class</th>
            <th>IP</th>
            <th>Created At</th>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td><a href="{{ path('dh_doctrine_audit_show_audit_entry', { 'entity': entity, 'id': entry.id }) }}">{{ entry.id }}</a></td>
                <td>{{ entry.getType() }}</td>
                <td><a href="{{ path('dh_doctrine_audit_show_entity_history', { 'entity': entity, 'id': entry.getObjectId() }) }}">{{ entry.getObjectId() }}</a></td>
                <td>{{ entry.getUserId() }}</td>
                <td>{{ entry.getUsername() }}</td>
                <td>{{ entry.getUserFirewall() }}</td>
                <td>{{ entry.getUserFqdn() }}</td>
                <td>{{ entry.getIp() }}</td>
                <td>{{ entry.getCreatedAt() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock dh_doctrine_audit_content %}
