{% macro dump(value, separator) %}
{% import _self as helper %}
{% import '@DHAuditor/Audit/helpers/bootstrap.html.twig' as bootstrap %}
{% apply spaceless %}
    {% if value.label is defined %}
        {{ value.label }}
    {% elseif value is iterable %}
        {% for k, v in value %}
            {{ k }}: {{ helper.dump(v) }}{{ separator|default('<br/>')|raw }}
        {% endfor %}
    {% elseif value is same as(true) %}
        {{ 'true' }}
    {% elseif value is same as(false) %}
        {{ 'false' }}
    {% else %}
        {{ value }}
    {% endif %}
{% endapply %}
{% endmacro dump %}

{% macro namespaceToParam(entity) %}
{{- entity|replace({'\\': '-'}) -}}
{% endmacro namespaceToParam %}

{% macro humanize(entity, entry) %}
    {% import _self as helper %}

    {% set diffs = entry.getDiffs() %}
    {% set subject = entity~'#'~entry.getObjectId() %}

    {% if entry.getType() == 'insert' %}
        {% set action = 'inserted' %}
    {% elseif entry.getType() == 'update' %}
        {% set action = 'updated' %}
    {% elseif entry.getType() == 'remove' %}
        {% set action = 'deleted' %}
        {% set source = diffs %}
    {% elseif entry.getType() == 'associate' %}
        {% set action = 'associated' %}
        {% set source = diffs.source %}
        {% set target = diffs.target %}
        {% set direction = 'to' %}
    {% elseif entry.getType() == 'dissociate' %}
        {% set action = 'dissociated' %}
        {% set source = diffs.source %}
        {% set target = diffs.target %}
        {% set direction = 'from' %}
    {% else %}
        {% set action = '???' %}
    {% endif %}

    <code><a href="{{ path('dh_auditor_show_entity_history', { 'entity': helper.namespaceToParam(entity), 'id': entry.getObjectId() }) }}" class="code">{{ subject }}</a></code>
    {% if source is defined and source is not null and subject != source.label %}
    <em>({{ source.label }})</em>
    {% endif %}
    has been <b>{{ action }}</b>
    {% if target is defined and target is not null %}
        {% set subject = target.class~'#'~target.id %}
        {{ direction }} <code><a href="{{ path('dh_auditor_show_entity_history', { 'entity': helper.namespaceToParam(target.class), 'id': target.id }) }}">{{ subject }}</a></code>
        {% if subject != target.label %}
            (<em>{{ helper.dump(target) }}</em>)
        {% endif %}
    {% endif %}
    by <b>{{ entry.getUsername() is null ? 'unknown user' : entry.getUsername() }}</b>
    {% if entry.getIp() is not empty %}
        , IP: {{ entry.getIp() }}
    {% endif %}
{% endmacro %}
