{% macro render(entity, id = null, paginator, proximity = 3, displayedPages = 10) %}
    {% if paginator.haveToPaginate %}
        {% set start = paginator.currentPage - proximity %}
        {% set end = paginator.currentPage + proximity %}
        {% if start < 1 %}
            {% set end = min(end + (1 - start), paginator.numPages) %}
            {% set start = 1 %}
        {% endif %}
        {% if end > paginator.numPages %}
            {% set start = max(start - (end - paginator.numPages), 1) %}
            {% set end = paginator.numPages %}
        {% endif %}

        <nav class="float-right">
            <ul class="pagination">
                {{ _self.first(entity, id, paginator) }}
                {{ _self.previous(entity, id, paginator) }}
                {{ _self.dotsIfStartIsOver3(entity, id, paginator, start) }}
                {{ _self.pages(entity, id, paginator, start, end) }}
                {{ _self.dotsIfEndIsUnder3ToLast(entity, id, paginator, end) }}
                {{ _self.next(entity, id, paginator) }}
                {{ _self.last(entity, id, paginator) }}
            </ul>
        </nav>
    {% endif %}
{% endmacro render %}

{% macro first(entity, id, paginator) %}
    {% if paginator.hasPreviousPage %}
        <li class="page-item"><a href="{{ path('dh_auditor_show_entity_history', {entity: entity, id: id, page: 1}) }}" class="page-link" rel="previous"><i class="fa fw fa-angle-double-left"></i> {% trans from 'auditor' %}audit.pager.first{% endtrans %}</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link"><i class="fa fw fa-angle-double-left"></i> {% trans from 'auditor' %}audit.pager.first{% endtrans %}</span></li>
    {% endif %}
{% endmacro first %}

{% macro previous(entity, id, paginator) %}
    {% if paginator.hasPreviousPage %}
        <li class="page-item"><a href="{{ path('dh_auditor_show_entity_history', {entity: entity, id: id, page: paginator.previousPage}) }}" class="page-link" rel="previous"><i class="fa fw fa-angle-left"></i> {% trans from 'auditor' %}audit.pager.previous{% endtrans %}</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link"><i class="fa fw fa-angle-left"></i> {% trans from 'auditor' %}audit.pager.previous{% endtrans %}</span></li>
    {% endif %}
{% endmacro previous %}

{% macro dotsIfStartIsOver3(entity, id, paginator, start) %}
    {% if start > 1 %}
        <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
    {% endif %}
{% endmacro dotsIfStartIsOver3 %}

{% macro pages(entity, id, paginator, start, end) %}
    {% for i in start..end %}
        {{ _self.page(entity, id, paginator, i) }}
    {% endfor %}
{% endmacro pages %}

{% macro dotsIfEndIsUnder3ToLast(entity, id, paginator, end) %}
    {% if end < paginator.numPages %}
        <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
    {% endif %}
{% endmacro dotsIfEndIsUnder3ToLast %}

{% macro next(entity, id, paginator) %}
    {% if paginator.hasNextPage %}
        <li class="page-item"><a href="{{ path('dh_auditor_show_entity_history', {entity: entity, id: id, page: paginator.nextPage}) }}" class="page-link" rel="next">{% trans from 'auditor' %}audit.pager.next{% endtrans %} <i class="fa fw fa-angle-right"></i></a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link">{% trans from 'auditor' %}audit.pager.next{% endtrans %} <i class="fa fw fa-angle-right"></i></span></li>
    {% endif %}
{% endmacro next %}

{% macro last(entity, id, paginator) %}
    {% if paginator.hasNextPage %}
        <li class="page-item"><a href="{{ path('dh_auditor_show_entity_history', {entity: entity, id: id, page: paginator.numPages}) }}" class="page-link" rel="previous">{% trans from 'auditor' %}audit.pager.last{% endtrans %} <i class="fa fw fa-angle-double-right"></i></a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link">{% trans from 'auditor' %}audit.pager.last{% endtrans %} <i class="fa fw fa-angle-double-right"></i></span></li>
    {% endif %}
{% endmacro last %}

{% macro page(entity, id, paginator, page) %}
    {% if page == paginator.currentPage %}
        <li class="page-item active"><span class="page-link">{{ page }} <span class="sr-only">{% trans from 'auditor' %}audit.pager.current{% endtrans %}</span></span></li>
    {% else %}
        <li class="page-item"><a href="{{ path('dh_auditor_show_entity_history', {entity: entity, id: id, page: page}) }}" class="page-link">{{ page }}</a></li>
    {% endif %}
{% endmacro page %}
