{% import '@DHAuditor/Audit/helpers/helper.html.twig' as helper %}

<tr class="bg-white">
    <td class="px-3 py-1 whitespace-nowrap text-sm font-medium text-gray-900">
{#{{ dump('entry_diff', key, values) }}#}
        <code class="text-gray-700">{{ key }}</code>
    </td>
    <td class="px-3 py-1 text-sm text-gray-500">
        {% if values.old is defined %}
            {% if values.old is null %}
                <span class="bg-gray-500 px-2 py-0.5 rounded text-white">null</span>
            {% else %}
                <span class="text-red-500">{{ helper.dump(values.old) }}</span>
            {% endif %}
        {% endif %}
    </td>
    <td class="px-3 py-1 text-sm text-gray-500">
        {% if values.new is defined %}
            {% if values.new is null %}
                <span class="bg-gray-500 px-2 py-0.5 rounded text-white">null</span>
            {% else %}
                {% if values.old is not defined or values.old is null %}
                    <span class="text-blue-500">{{ helper.dump(values.new) }}</span>
                {% else %}
                    <span class="text-green-500">{{ helper.dump(values.new) }}</span>
                {% endif %}
            {% endif %}
        {% endif %}
    </td>
</tr>
