{% extends "@DHAuditor/layout.html.twig" %}

{% import '@DHAuditor/Audit/helpers/helper.html.twig' as helper %}

{% block dh_auditor_header %}
<nav class="bg-white border border-gray-200 rounded flex" aria-label="Breadcrumb">
    <ol role="list" class="max-w-screen-xl w-full mx-auto px-4 flex space-x-4 sm:px-6 lg:px-6">
        <li class="flex">
            <div class="flex items-center">
                <a href="{{ path('dh_auditor_list_audits') }}" class="text-gray-400 hover:text-gray-500 flex space-x-1">
                    <!-- Heroicon name: solid/home -->
                    <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                    </svg>
                    <span>{% trans from 'auditor' %}audit.header.home{% endtrans %}</span>
                </a>
            </div>
        </li>

        <li class="flex flex-grow items-center justify-between">
            <div class="flex items-center">
                <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
                </svg>
                <a class="ml-4 font-medium text-pink-500" href="{{ path('dh_auditor_show_transaction', {hash: hash}) }}" title="{% trans from 'auditor' %}transaction{% endtrans %} #{{ hash }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline align-text-top" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
                    </svg>
                    {{ hash }}
                </a>
                <span class="ml-2 italic text-gray-400 font-light">{% trans from 'auditor' %}audit.audit_details.entity_per_entity{% endtrans %}</span>
            </div>
            {% set amount = 0 %}
            {% for entity, entries in audits %}
                {% set amount = amount + entries|length %}
            {% endfor %}
            <div>
                <span class="bg-purple-500 rounded text-sm text-white px-2 py-1">{% trans with { '%count%': amount } from 'auditor' %}audit.audit_details.operations{% endtrans %}</span>
            </div>
        </li>
    </ol>
</nav>
{% endblock %}

{% block dh_auditor_content %}
{% set is_first = true %}
{% for entity, entries in audits %}
    {% if is_first %}
        {% set is_first = false %}
    {% else %}
        <hr class="m-6" />
    {% endif %}

<div class="flow-root">
    <div class="mb-6 flex items-center justify-between">
        <div>
            <code class="text-pink-500">{{ entity }}</code>
            <span class="ml-2 italic text-gray-400 font-light">{% trans from 'auditor' %}audit.audit_details.most_recent{% endtrans %}</span>
        </div>
        <div>
            <span class="bg-purple-500 rounded text-sm text-white px-2 py-1">{% trans with { '%count%': entries|length } from 'auditor' %}audit.audit_details.operations{% endtrans %}</span>
        </div>
    </div>

    <ul role="list" class="-mb-8">
        {% set i = 0 %}
        {% set amount = entries|length %}
        {% for entry in entries %}
            {% set i = i + 1 %}
        <li>
            {{ include('@DHAuditor/Audit/entry.html.twig', {'entry': entry, 'is_last': i >= amount}) }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock dh_auditor_content %}
